<div class="header_container">
  <%= button_to 'Movie Collections', root_path, :method => :get %>
  <%= button_to 'Add Collection', new_list_path, :method => :get, :class => "btn_primary header_btn" %>
</div>
