.btn_primary {
  border: none;
  padding: 1rem;
  background-color: #1e2db5;
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
}

.btn_remove {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  border: 2px solid white;
  border-radius: 50%;
  margin-top: 1.2rem;
  margin-right: 1.2rem;
  height: 36px;
  width: 36px;
  background-color: transparent;
  color: white;
}
